@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    padding: 0 30px;
}

.attribution {
     font-size: 11px; text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}

header{
    text-align: center;
    padding: 10px 0 50px 0;
}

header h1{
    font-size: 1.5rem;
    font-weight: 200;
    color: hsl(234, 12%, 34%);
}
header h2{
    font-weight: 700;
    font-size: 1.5rem;
    color: hsl(234, 12%, 34%);
    margin-bottom: 1.5rem;
}
header p{
    font-weight: 400;
    font-size: 1rem;
    color: hsl(229, 6%, 66%);
    max-width: 500px;
    margin: 0 auto;
}

#cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}
.card{
    box-shadow: 2px 8px 14px 0 hsla(229, 6%, 66%, .6);
    border-radius: 8px;
    padding: 30px;
    margin: 2rem 0;
    max-width: 400px;
}

.card-1{
    border-top: 5px solid hsl(0, 78%, 62%);
    margin: 0;
}
.card-2{
    border-top: 5px solid hsl(180, 62%, 55%);
}
.card-3{
    border-top: 5px solid hsl(34, 97%, 64%);
}
.card-4{
    border-top: 5px solid  hsl(212, 86%, 64%);
    margin: 0;
}

.card img{
    display: block;
    margin-left: auto;
    padding-top: 20px;
}

card h2{
    color: hsl(234, 12%, 34%);
    font-size: 1.5rem;
}
.card p{
    font-size: 1rem;
    color: hsl(229, 6%, 66%);
}

@media screen and (min-width: 1000px){
    #cards{
        flex-direction: row;
    }
    .card{
        margin: 2rem;
    }
}